/* Estilos Gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5; /* Fundo do corpo mais claro */
    color: #333333; /* Cor do texto geral, para legibilidade em fundo claro */
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    background: linear-gradient(180deg, #E5E5E5 0%, #BDBDBD 100%); /* Gradiente do container mais suave */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 800px;
    box-sizing: border-box;
}

/* Estilos dos Cards */
.cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 20px;
}

.card {
    background: linear-gradient(90deg, #CDE9F4 0%, #A0BCC9 100%); /* Gradiente do cartão mais leve */
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    flex-basis: calc(50% - 10px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    transition: all 0.3s ease;
}

.card:hover {
    background: linear-gradient(90deg, #B5D9E8 0%, #89A3B0 100%); /* Gradiente de hover mais suave */
}

.card-title {
    margin-top: 0;
    font-size: 1.2em;
    color: #0d47a1; /* Título com cor forte para destaque */
}

/* Estilos dos Botões e Links */
.btn-submit,
.btn-link {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    box-sizing: border-box;
    color: #ffffff; /* Cor do texto do botão clara */
}

.btn-submit {
    background-color: #1890ff;
    border: none;
}

.btn-submit:hover {
    background-color: #e7e7e7;
    color: #1890ff;
}

.action-links {
    display: flex;
    justify-content: space-around;
    gap: 10px;
}

.btn-link {
    background-color: #bdc3c7;
    color: #333333; /* Cor do texto para legibilidade */
    border: none;
}

.btn-link:hover {
    background-color: #91A1A8;
    color: #ffffff;
}

/* Media Queries para Responsividade */
@media (max-width: 600px) {
    .card {
        flex-basis: 100%;
    }
}
